# Git
.git
.gitignore

# Docker
.docker

# Python
portfolio/__pycache__/
portfolio/*/__pycache__/
portfolio/*/*/__pycache__/
portfolio/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/